################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Jerky/.vs/Jerky/v15
/Jerki/.vs/Jerki/v15
